rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false; 
    }
    
    match /board_messages/{messageId} {
      allow read: if true;
      allow create: if request.resource.data.user is string
                    && request.resource.data.content is string;
      allow update: if false;
      allow delete: if true; // basic allow delete for demo
    }
  }
}
